{% extends 'base.html.twig' %}

{% block title %}PostCategory{% endblock %}

{% block body %}
    <h1>PostCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post_category.title }}</td>
            </tr>
        </tbody>
    </table>

<<<<<<< HEAD
=======
    {% for post in post_category.posts %}
        <p>{{ post.id }} {{ post.name }}</p>
    {% endfor %}

>>>>>>> 3893d2fe6a0e0fcdff3757a759844f76ce04bfdf
    <a href="{{ path('app_post_category_index') }}">back to list</a>

    <a href="{{ path('app_post_category_edit', {'id': post_category.id}) }}">edit</a>

    {{ include('post_category/_delete_form.html.twig') }}
{% endblock %}
