{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'article {{ post.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button formnovalidate>Modifier</button>
    {{ form_end(form) }}
{% endblock %}
