{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Articles ({{ posts | length }})</h1>
    <a href="{{ path('app_post_new') }}">Créer un article</a>

    <form method="get">
        <input type="date" name="date" value="{{ date }}">
        <button>Filtrer</button>
    </form>

    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.name }}</h2>
                {# Le ?? null permet de checker si le post a bien une catégorie #}
                <p>{{ post.postCategory.title ?? null }}</p>
                <a href="{{ path('app_post_show', { id: post.id }) }}">Voir</a>
                <a href="{{ path('app_post_edit', { id: post.id }) }}">Modifier</a>
                <a href="{{ path('app_post_delete', { id: post.id }) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
